<body>
  <div class="container">
    <h1 class="page-header">All Blog Posts</h1>
    
    <ul class="list-group">
      <% @posts.each do |post| %>
        <li class="list-group-item"><%= post.title %></li>
      <% end %>
    </ul>
  </div>
</body>
